* {
  /* border: 2px solid yellow; */
}

body {
  display: flex;
  height:100vh;
  margin: 0%;
  font-family: 'Viaoda Libre', cursive;
  color: #000000
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  /* background-color: teal; */
  color: white;
}

.dragonSide {
  background-image: linear-gradient(#FFFF00, #FFA500, #FF4500, #DC143C);

}

.unicornSide {
  background-image: linear-gradient(#ADFF2F, #00CED1, #008080);
}

h2 {
  margin: 0px;
  padding: 0px;
  font-size: 90px;
  color: #000000;
}

p {
  margin: 0px;
  padding: 0px;
  font-size: 150px;
  color: #000000;
}

/* Center */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 30px;
  background-color: #F0FFFF;
}

h1 {
  margin: 20px, 10px;
  font-size: 40px;
}

.winner-display {
  display: flex;
  align-items:stretch;
}

.winner {
  height: 60px;
  width: 60px;
  margin: 10px;
}

.icon {
  height: 100px;
  width: 100px;
  margin: 35px;
  padding: 20px;
}

.token {
  height: 80%;
  width: 80%;
  padding: 10%;
}

.dragon {
  background: radial-gradient(#FF4500, #FFFF4C, #F0FFFF);
}

.unicorn {
  /* background: radial-gradient(#F0FFFF, #9ACD32, #008080); */
  background: radial-gradient(#008080, #9ACD32, #F0FFFF);

}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  height:48vh;
  width: 45vh;
  border: 10px solid white;
  padding: 0%;
  margin: 5vh;
}

button {
  height: 33.333%;
  width: 33.333%;
  margin: 0%;
  padding: 0%;
  cursor: pointer;
  background-color: #FFFFFF;
  border: none;
}

.right {
  border-right: 5px solid black;
}
.left {
  border-left: 5px solid black;
}
.top {
  border-top: 5px solid black;
}
.bottom {
  border-bottom: 5px solid black;
}
