body {
  display: flex;
  height:100vh;
  margin: 0%;
  font-family: 'Viaoda Libre', cursive;
  color: #000000
}

/* Side Bar */
.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.dragonSide {
  background-image: linear-gradient(#FFFF00, #FFA500, #FF4500, #DC143C);
}

.unicornSide {
  background-image: linear-gradient(#ADFF2F, #00CED1, #008080);
}

.icon {
  height: 100px;
  width: 100px;
  margin: 35px;
  padding: 20px;
}

h2 {
  margin: 0px;
  padding: 0px;
  font-size: 90px;
}

p {
  margin: 0px;
  padding: 0px;
  font-size: 150px;
}

/* Center Panel*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 30px;
  background-color: #F0FFFF;
}

h1 {
  margin: 20px, 10px;
  font-size: 40px;
}

.winner-display {
  display: flex;
  align-items:stretch;
}

.winner {
  height: 60px;
  width: 60px;
  margin: 10px;
}

.token {
  height: 80%;
  width: 80%;
  padding: 10%;
}

.dragon {
  background: radial-gradient(#FF4500, #FFFF00, #F0FFFF, #F0FFFF);
}

.unicorn {
  background: radial-gradient(#00CED1, #ADFF2F, #F0FFFF, #F0FFFF);

}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  height:48vh;
  width: 45vh;
  border: 10px solid #F0FFFF;
  padding: 0%;
  margin: 5vh;
}

button {
  height: 33.333%;
  width: 33.333%;
  margin: 0%;
  padding: 0%;
  cursor: pointer;
  background-color: #F0FFFF;
  border: 10px solid #F0FFFF;
}

.right {
  border-right: 5px solid black;
}
.left {
  border-left: 5px solid black;
}
.top {
  border-top: 5px solid black;
}
.bottom {
  border-bottom: 5px solid black;
}

.glow {
  box-shadow: 0 8px 10px -6px  gold;
}
.reset {
  height: 5vh;
  width: 16vh;
  margin-top: 5vh;
  border: 5px solid #FFFFFF;
  background-color: lavender;
  font-size: 3vh;
  font-family: 'Viaoda Libre', cursive;
  box-shadow: 0 8px 10px -6px  #A64CA6;
}
